{% extends 'layouts/base.html' %}


{% block content %}

<div class="header pb-6 d-flex align-items-center">
  <!-- Mask -->
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Editar perfil </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="" method="POST"> {% csrf_token %}
            <h6 class="heading-small text-muted mb-4">Informação do usuário.</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    {{user_form.username}}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    {{user_form.email}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nome da Empresa</label>
                    {{form.name}}
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informações da Empresa</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Endereço</label>
                    {{form.address}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Cidade</label>
                    {{form.city}}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">País</label>
                    {{form.country}}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">CEP</label>
                    {{form.cep}}
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Sobre mim</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">Descreva brevemente os objetivos da empresa. </label>
                {{form.description}}
              </div>
            </div>
            <div class="col-4 text-right">
              <button type="submit" class="btn btn-sm btn-primary">SALVAR</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
