{% extends 'layouts/base.html' %}
{% load humanize %}
{% load jobs_dashboard_tags %}
{% load applications_tag %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">HOME</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  {% if request.user.is_company %}
                  <li class="breadcrumb-item"><a href="#">dashboard</a></li>
                  {% endif %}
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Vagas Criadas</h5>
                      <span class="h2 font-weight-bold mb-0">{% get_total_jobs request.user %}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Vagas Abertas</h5>
                      <span class="h2 font-weight-bold mb-0">{% get_total_open_jobs request.user %}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Vagas Encerradas</h5>
                      <span class="h2 font-weight-bold mb-0">{% get_total_closed_jobs request.user %}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Candidaturas totais</h5>
                      <span class="h2 font-weight-bold mb-0">{% get_company_applications_count request.user %}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">VAGAS</h3>
                </div>
                <div class="col text-right">
                  <a href="{% url 'create-job' %}" class="btn btn-sm btn-primary">CRIAR VAGA</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Vaga</th>
                    <th scope="col">Postada há</th>
                    <th scope="col">Candidatos</th>
                    <th scope="col">Editar vaga</th>
                    <th scope="col">Encerrar vaga</th>
                  </tr>
                </thead>
                <tbody>
                  {% for job in jobs %}
                    <tr>
                      <th scope="row">
                        <a href="{% url 'job-applications' job.pk %}">{{job.title}}</a>
                      </th>
                      <td>
                        {{job.created|naturaltime}}
                      </td>
                      <td>
                        {% get_job_applications_count job %}
                      </td>
                      <td>
                        <a href="{% url 'update-job' job.pk %}" class="btn btn-secondary">Editar</a>
                      </td>
                      <td>
                        <form action="{% url 'close-job' job.pk %}" method="POST"> {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Encerrar</a>
                        </form>
                      </td>
                    </tr>
                  {% empty %}
                  <tr>
                    <th colspan="4">
                      <center>Nenhuma vaga registrada.</center>
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Estatísticas</h6>
                  <h5 class="h3 mb-0">Candidaturas</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="myChart" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>
    const endpoint = 'http://127.0.0.1:8000/api/applications'
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
        const labels = [
          'Jan',
          'Fev',
          'Mar',
          'Abr',
          'Mai',
          'Jun',
          'Jul',
          'Ago',
          'Set',
          'Out',
          'Nov',
          'Dez'
        ];

        const data_chart = {
          labels: labels,
          datasets: [{
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: data.month_applications,
          }]
        };

        const config = {
          type: 'bar',
          data: data_chart,
          options: {
            scales: {
                xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display:false
                    },
                    ticks: {
                      min: 0,
                      max: 10,
                  }   
                }]
            },
            legend: {
              display: false,
            }
          }
        };

        const myChart = new Chart(
        document.getElementById('myChart'),
        config
        );
      },
      error: function(error_data) {
        console.log('error within the received data')
        console.log(error_data)
      }

    })
  </script>

{% endblock javascripts %}
