{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Registrar {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Cadastre-se com as devidas credenciais.</small>
            </div>
            <form role="form" action="" method="POST"> {% csrf_token %}
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  {{form.username}}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  {{form.email}}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{form.password1}}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{form.password2}}
                </div>
              </div>
              {% for message in messages %}
                  <center><p style="color: grey"><strong>{{ message }}</strong></p></center>
              {% endfor %}
              {{form.is_company}}
              <span class="badge badge-light">Empresa</span>
              <div class="text-center text-muted mb-4">
              <small>*Ao se cadastrar como empresa, a página inicial, bem como as outras implementações, serão personalizadas para atenderem o uso de uma empresa.</small>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Criar conta</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
